.Slider{
    width: 250px;
    height: 5px;
    background-color: rgb(206, 227, 237);
    margin: 0 auto;
    border-radius: 20%;
    margin-top: 20px;
}

.Slider .thumb {
    width: 16px;
    height: 16px;
    background-color: rgba(116, 14, 14, 0.94);
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px;
    outline: none;
}